@import '../../../colors.scss';

h2{
    font-family: $h2-medium-fam;
    font-size: $h2-medium-size;
    font-style: $h2-medium-style;
    font-weight: $h2-medium-weight;
    line-height: $h2-medium-height; 
}

.head{
    display: flex;
    width: 600px;
    padding: 21px 20px;
    align-items: center;
    gap: 16px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.20); 
    & span{
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & h2{
        margin: 0;
    }
}
.advertisers-main{
    background-color: white;
    height: 100%;
    mat-drawer-container{
        height: 100%;
    }
    mat-drawer-content{
        background-color: white;
        height: 100%;
        padding: 24px;
        & .header{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            & .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
                padding: 15px 0 0 !important;
            }
            & mat-form-field{
                width: 336px !important;
            }
        }
        .advertisers{
            height: 80%;
            &__table{
                height: 100%;
                overflow-y: scroll;
            }
        }
        .not-found{
            text-align: center;
            position: relative;
            top: 25px;
        }
    }
    .drawer{
        height: 100%;
    }
    .main{
        height: 90%;
    }
}