<div class="advertisers-main">
  <mat-drawer-container hasBackdrop="true">
    <mat-drawer-content>
      <div class="header">
        <h2 class="component-name">Advertisers</h2>
        <mat-form-field class="custom-field">
          <mat-label>Search by name...</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>  
      </div>
      <div class="advertisers">
          <div class="advertisers__table">
              <table mat-table [dataSource]="advertisersSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">
      
                  <ng-container matColumnDef="advertiserID">
                    <th mat-header-cell *matHeaderCellDef> Advertiser ID </th>
                    <td mat-cell *matCellDef="let advert" (click)="drawer.toggle();chosenAdvertiser = advert"> {{advert.advertiserId}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > Name </th>
                    <td mat-cell *matCellDef="let advert" (click)="drawer.toggle();chosenAdvertiser = advert"> {{advert.name}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="profit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by profit"> Profit </th>
                    <td mat-cell *matCellDef="let advert" (click)="drawer.toggle();chosenAdvertiser = advert"> {{advert.profit}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="not-found" *ngIf="advertisersSource.filteredData.length === 0">
                  <p>No results found :(</p>
                    <p>Please try again</p>
                </div>
          </div>
      </div>
    </mat-drawer-content>
    <mat-drawer mode="over" #drawer position="end" class="drawer">
      <div class="drawer">
        <div class="head">
          <span (click)="drawer.toggle()">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.00005 8.40005L2.10005 13.3C1.91672 13.4834 1.68338 13.575 1.40005 13.575C1.11672 13.575 0.883382 13.4834 0.700049 13.3C0.516715 13.1167 0.425049 12.8834 0.425049 12.6C0.425049 12.3167 0.516715 12.0834 0.700049 11.9L5.60005 7.00005L0.700049 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700049 0.700049C0.883382 0.516715 1.11672 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700049L7.00005 5.60005L11.9 0.700049C12.0834 0.516715 12.3167 0.425049 12.6 0.425049C12.8834 0.425049 13.1167 0.516715 13.3 0.700049C13.4834 0.883382 13.575 1.11672 13.575 1.40005C13.575 1.68338 13.4834 1.91672 13.3 2.10005L8.40005 7.00005L13.3 11.9C13.4834 12.0834 13.575 12.3167 13.575 12.6C13.575 12.8834 13.4834 13.1167 13.3 13.3C13.1167 13.4834 12.8834 13.575 12.6 13.575C12.3167 13.575 12.0834 13.4834 11.9 13.3L7.00005 8.40005Z" fill="black" fill-opacity="0.9"/>
            </svg> 
          </span>
          <h2>Edit Advertiser: Cairo Communications</h2>
        </div>
        <div class="main">
          <app-edit-advertiser [advertiser]="chosenAdvertiser" (cancel)="drawer.toggle()" (resString)="drawer.toggle();openDialog($event); getTheData()"></app-edit-advertiser>
        </div>
      </div>
    </mat-drawer> 
  </mat-drawer-container>
</div>

  