<div class="home">
    <h2 class="component-name">Home</h2>
    <div class="home__main">
        <div class="home__main-content">
            <div class="home__image">
                <img src="assets/images/homepage.svg" alt="homepage-image">
            </div>
            <div class="home__welcome">
                <h2 class="welcome back">Welcome</h2>
                <p>Advertising for seasoned publishing professionals or those just starting out.</p>
                <p>Monetize your site with display and video ads.</p>
                <p>Get started!</p>
            </div>
        </div>
    </div>
</div>