$active: #E3F2FD;
$default: #FFFFFF;
$hover:#F5F5F5;
$default-text: #000000;
$active-text: #2196F3;

$h2-medium-fam: 'Roboto';
$h2-medium-size: 24px;
$h2-medium-style: normal;
$h2-medium-weight: 500;
$h2-medium-height: normal;

$body1-regular-fam: 'Roboto';
$body1-regular-size: 16px;
$body1-regular-style: normal;
$body1-regular-weight:  400;
$body1-regular-height: 24px; 
